version: "3.9"

services:
  leader:
    build: ./leader
    container_name: leader
    ports:
      - "8000:8000"

  replica1:
    build: ./replica
    container_name: replica1
    environment:
      - LEADER_URL=http://leader:8000/internal/wal
    depends_on:
      - leader

  replica2:
    build: ./replica
    container_name: replica2
    environment:
      - LEADER_URL=http://leader:8000/internal/wal
    depends_on:
      - leader

  nginx:
    build: ./nginx
    ports:
      - "8080:80"
    depends_on:
      - leader
      - replica1
      - replica2
